@model IEnumerable<ui_design_12_21_2017.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Balance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsApproved)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LdcAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iso.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LdcAccount.LdcAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
